/* 通常CSS */
/* ヘッダー */
html {
    height: 100%;
}

body {
    height: 100%;
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    width: 100%;
    background-color: black;
    align-items: center;
}

.title {
    margin-right: auto;
}

.site_title{
    color: white;
    text-decoration: none;
}

.site_title:visited{
    color: white;
}

.site_title:hover{
    opacity: 0.8;
}

.hamburger-menu {
    display: none;
}

.nav_link{
    color: white;
    text-decoration: none;
}

.nav_link:visited{
    color: white;
}

.nav_link:hover{
    opacity: 0.8;
}

.menu-item {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

/* フッター */
.footer{
    position: sticky;
    top: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

/* メインコンテンツ */
.content{
    text-align: center;
    background-color: aqua;
}

.content1{
    text-align: center;
    background-color: bisque;
}

.content2{
    color: white;
    text-align: center;
    background-color: blue;
}

 /* スマホ・タブレット対応（1024px以下） */
@media screen and (max-width: 1024px) {
    /* ヘッダー */
    .header {
        padding: 0;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
    }

    .site_title {
        font-weight: 700;
        padding-left: 14px;
    }

    /* ハンバーガーメニュー */
    .nav {
        display: none;
        background: #242424;
        position: absolute;
        top: 50px;
        width: 100%;
        z-index: 9999;  
    }

    .menu-group {
        text-align: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .menu-item {
        display: inline;
        border-bottom: 1px solid white;
        padding: 0;
    }

    .menu-item:first-child {
        border-top: 1px solid white;
    }

    .nav_link {
        color: white;
        font-weight: 700;
        text-decoration: none;
        display: block;
        padding: 24px 0;
        transition: .5s;
    }

    .hamburger-menu {
        display: inline;
        width: 50px;
        height: 50px;
        position: relative;
        border: none;
        background: transparent;
        appearance: none;
        padding: 0;
        cursor: pointer;
    }

    .hamburger-menu__bar {
        display: inline-block;
        width: 44%;
        height: 2px;
        background: white;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: .5s;
    }

    .hamburger-menu__bar:first-child {
        top: 16px;
    }

    .hamburger-menu__bar:nth-child(2) {
        top: 24px;
    }

    .hamburger-menu__bar:last-child {
        top: 32px;
    }
    
    .hamburger-menu--open .hamburger-menu__bar {
        top: 50%;
    }

    .hamburger-menu--open .hamburger-menu__bar:first-child {
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }

    .hamburger-menu--open .hamburger-menu__bar:last-child {
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    }

    .hamburger-menu--open .hamburger-menu__bar:nth-child(2) {
        display: none;
    }

    @media (hover: hover) and (pointer: fine) {
        .nav_link:hover {
          background: #333;
        }
    }
}